* {
    user-select: none; /* Standard */
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
}

body 
{    
    margin: 10;
    background-color: rgb(64, 87, 130);
    /* background: url("space_christina.gif"); */
}

h1
{
    position: relative;
    padding-top: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: bold;
}

h2
{
    position: relative;
    padding-top: 10px;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h3
{
    position: relative;
    padding-top: 5px;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h4
{
    position: relative;

    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
/*
p
{
    font: initial;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
} 
*/

button {
    position: relative;
    /* (500/2)-(width/2) = left*/
    /* (500/2)-(height/2)*/
    /* top: 480px;
    left: 350px; */
    /* padding-top: 10px;
    padding-bottom: 10px; */
    /* border: 1px solid rgb(219, 137, 137); */
    width: 80px;
    height: 33px;
    /* padding: 10px 30px; */
    border: 0px solid rgb(123, 185, 219);
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
    background: url("restart.png");
    background-size: contain;
}

.above-boarders {
    position: relative;
    z-index: 1010;
}

#game-back
{
    position: relati1ve;
    width: 500px;
    height: 500px;
    object-fit: cover;
}


 #game
{ /*game board */
    position: relative;
    margin: auto;
    top: 5%;
    width: 800px;
    height: 800px;
    border: 10px solid rgb(20, 2, 2);
    background: url("space_christina.gif");
}
.game-block {
    z-index: 1000;
    background-color: rgb(100, 136, 204);
    position: absolute;
}

#dino
{
    /* width: 28px; */
    height: 70px;
    /* background-color: greenyellow; */
    position: absolute;
    left: 0px;
}

#score
{
    position: relative;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    top: 5px;
    left: 10px;
}
#highscore
{
    position: relative;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    top: 5px;
    left: 10px;
}
